[sb_local]
host = 127.0.0.1
port = 3306
user = softwareuser
password = dynaslopeDay2022
schema = senslopedb

[gsm_pi]
host = 127.0.0.1
port = 3306
user = softwareuser
password = dynaslopeDay2022
schema = comms_db


[ubuntu75_pysys_local]
host = 127.0.0.1
port = 3306
user = softwareuser
password = dynaslopeDay2022
schema = senslopedb

[staff1]
host = 127.0.0.1
port = 3306
user = softwareuser
password = dynaslopeDay2022
schema = senslopedb

[smsdb_remote]
host = 127.0.0.1
port = 3306
user = softwareuser
password = dynaslopeDay2022
schema = senslopedb
